body {
  background-color: black;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: black;
}

h1 {
  margin-bottom: 20px;
  color: #d8d5d5;
}

.clock {
  font-size: 40px;
  font-weight: bold;
  color: #d8d5d5;
  margin-bottom: 10px;
}

.date {
  font-size: 20px;
  color: #d8d5d5;
  margin-bottom: 20px;
}

button {
  background-color: rgb(255, 123, 0);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
